BraveSoftware/
.mozilla/
StardewValley/
Vampire_Survivors/
Vampire_Survivors*
kwalletrc
mimeapps.list
unity3d/
gkt-3.0/
kde.org/
pulse/
session/
user-dirs.dirs
user-dirs.locale
heroic/
dolphinrc
gh/
trashrc
pavucontrol.ini
kiorc
git/
dconf/
