BraveSoftware/
sunshine/
Thunar/
dolphin-emu/
gtk-3.0/
gtk-4.0/
nwg-look/
systemd/
xsettingsd/
pupgui/
xfce4/
.mozilla/
StardewValley/
transmission/
Vampire_Survivors/
Vampire_Survivors*
mimeapps.list
unity3d/
gkt-3.0/
kde.org/
pulse/
session/
user-dirs.dirs
user-dirs.locale
heroic/
dolphinrc
gh/
trashrc
pavucontrol.ini
kiorc
dconf/
GIMP/
lsfg-vk/
