spawn-sh-at-startup "swaybg -i ~/Pictures/wallpaper.jpg -m fill"

layout {
    background-color "#191724"
    focus-ring {
        active-color   "#c4a7e7"
        inactive-color "#6e6a86"
        urgent-color   "#eb6f92"
    }

    border {
        active-color   "#c4a7e7"
        inactive-color "#6e6a86"
        urgent-color   "#eb6f92"
    }

    shadow {
        color "#21202e70"
    }

    tab-indicator {
        active-color   "#c4a7e7"
        inactive-color "#6e6a86"
        urgent-color   "#eb6f92"
    }

    insert-hint {
        color "#31748f80"
    }
}

recent-windows {
    highlight {
        active-color   "#c4a7e7"
        urgent-color   "#eb6f92"
    }
}

overview {
    backdrop-color "#191724"
}
