layout {
    background-color "#191724"
    focus-ring {
        active-color   "#c4a7e7"
        inactive-color "#6e6a86"
        urgent-color   "#eb6f92"
    }

    border {
        active-color   "#c4a7e7"
        inactive-color "#6e6a86"
        urgent-color   "#eb6f92"
    }

    shadow {
        color "#19172470"
    }

    tab-indicator {
        active-color   "#c4a7e7"
        inactive-color "#6e6a86"
        urgent-color   "#eb6f92"
    }

    insert-hint {
        color "#9ccfd880"
    }
}

recent-windows {
    highlight {
        active-color "#c4a7e7"
        urgent-color "#eb6f92"
    }
}

overview {
    backdrop-color "#191724"
}
