spawn-sh-at-startup "swaybg -i /home/jay/dev/dotfiles/wall/Pictures/Wallpapers/default.jpg -m fill"

layout {
    focus-ring {
        active-color   "#88d1ec"
        inactive-color "#40484c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#88d1ec"
        inactive-color "#40484c"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#88d1ec"
        inactive-color "#004e61"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#88d1ec80"
    }
}

recent-windows {
    highlight {
        active-color "#88d1ec"
        urgent-color "#ffb4ab"
    }
}

overview {
    backdrop-color "#0f1416"
}
