workspace "browser"
workspace "dev"
workspace "media"
workspace "chat"
workspace "gaming"

spawn-at-startup "mako"
spawn-at-startup "swayidle"
spawn-sh-at-startup "waybar -c ~/.config/waybar/niri.jsonc"
// Workaraound for Asahi NixOS issues 
spawn-sh-at-startup "niri msg action power-off-monitors; niri msg action power-on-monitors; volume up"

screenshot-path "~/Pictures/Screenshots/screenshot %Y-%m-%d %H-%M-%S.png"

// run `niri msg outputs` to get the list of outputs
output "eDP-1" {
    scale 1.7
}
output "HDMI-A-1" {
    mode "1920x1080"
    scale 1
}


include "./rules.kdl"
include "./binds.kdl"
include "./appearance.kdl"
include "./input.kdl"
include "./colors.kdl"
