@import "colors.css";

* {
    font-family: "JetBrains Mono", "Symbols Nerd Font Mono";
    font-size: 10pt;
    border-radius: 5;
}

window#waybar {
    background-color: @background_waybar;
    color: @on_background;
    border-radius: 0;
}

button {
    padding: 0 5px;
}

#idle_inhibitor.activated,
#bluetooth.connected,
#power-profiles-daemon.performance {
    color: @primary;
}

#battery.warning,
#power-profiles-daemon.power-saver,
#privacy {
    color: @error;
}

#battery.critical {
    background-color: @on_error;
    color: @error;
    padding: 0 10px;
}

#workspaces.idx button.empty,
#workspaces.idx button.hidden,
#bluetooth.off {
    color: @outline_variant;
}

#workspaces.idx button.active {
    color: @primary;
    /* background-color: @surfaceLow; */
    /* border: 1px solid @surfaceHigh; */
}

#tray {
    background-color: @surface_container_high;
}

#workspaces.taskbar button .niri-taskbar-btn {
    opacity: 0.3;
}
#workspaces.taskbar button .niri-taskbar-btn.focused {
    opacity: 1;
    background-color: @surface_container;
    border: 1px solid @outline_variant;
}

.modules-center,
.modules-right,
.modules-left {
    padding: 0 10px;
}
