@import "colors.css";

* {
    font-family: "JetBrains Mono", "Symbols Nerd Font Mono";
    font-size: 10pt;
    font-weight: bold;
    border-radius: 5;
}

window#waybar {
    background-color: @background_alpha;
    color: @on_background;
    border-radius: 0;
}

button {
    padding: 0 5px;
}

#idle_inhibitor.activated,
#bluetooth.connected,
#power-profiles-daemon.performance {
    color: @primary;
}

#battery.warning,
#power-profiles-daemon.power-saver,
#privacy {
    color: @error;
}

#battery.critical {
    background-color: @on_error;
    color: @error;
    padding: 0 10px;
}

#workspaces button {
    background-color: @surface_container;
    margin: 0 5px;
}
#workspaces button.empty,
#workspaces button.hidden,
#bluetooth.off {
    color: @outline_variant;
}

#workspaces button.active {
    color: @primary;
    background-color: @surface_container_high;
    border: 1px solid @primary;
}

#tray {
    background-color: @surface_container_high;
    border: 1px solid @outline;
    padding: 0 5px;
}

.modules-center,
.modules-right,
.modules-left {
    padding: 0 5px;
}
