@import "colors.css";

* {
    font-family: "JetBrains Mono", "Symbols Nerd Font Mono";
    font-size: 10pt;
    font-weight: bold;
}

window#waybar {
    /* rounded corners need to set 0.99 or lower instead of 1 */
    /* issue: https://github.com/Alexays/Waybar/issues/3882 */
    /* background_waybar = 0.99, background_alpha = 0.9 */
    background-color: @background_alpha;
    color: @on_background;
}

#idle_inhibitor.activated,
#bluetooth.connected,
#power-profiles-daemon.performance {
    color: @primary;
}

#battery.warning,
#power-profiles-daemon.power-saver,
#privacy {
    color: @error;
}

#battery.critical {
    background-color: @on_error;
    color: @error;
    padding: 0 10px;
}

#workspaces button {
    padding: 0 5px;
    border-radius: 5;
}

#workspaces button.empty,
#workspaces button.hidden,
#bluetooth.off {
    color: @outline_variant;
}

#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
}

#workspaces .taskbar-window {
    padding: 0 5px;
}

.modules-center,
.modules-right,
.modules-left {
    padding: 0 10px;
}

#taskbar button {
    padding: 0 5px;
    border-radius: 5;
}

#tray {
    background-color: @surface_container_high;
    padding: 0 5px;
    border-radius: 5;
}
