layout {
    background-color "#292828"
    focus-ring {
        active-color   "#7daea3"
        inactive-color "#665c54"
        urgent-color   "#ea6962"
    }

    border {
        active-color   "#7daea3"
        inactive-color "#665c54"
        urgent-color   "#ea6962"
    }

    shadow {
        color "#29282870"
    }

    tab-indicator {
        active-color   "#7daea3"
        inactive-color "#665c54"
        urgent-color   "#ea6962"
    }

    insert-hint {
        color "#89b48280"
    }
}

recent-windows {
    highlight {
        active-color "#7daea3"
        urgent-color "#ea6962"
    }
}

overview {
    backdrop-color "#292828"
}
